.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  gap: 24px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.header button {
  width: initial;
  padding: 5px 8px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 500px) {
  .main {
    flex-direction: column;
  }

  .main button {
    width: 125px;
  }
}